{% extends "base.html" %}

{% block title %}Editar incidencia #{{ incidencia.id }} | El Desaguisado{% endblock %}
{% block eyebrow %}Edición{% endblock %}
{% block page_title %}Editar incidencia #{{ incidencia.id }}{% endblock %}
{% block header_actions %}
  <a class="button button-secondary" href="{{ url_for('incidencia_detalle', id=incidencia.id) }}">Volver al detalle</a>
{% endblock %}

{% block content %}
  <section class="panel form-panel">
    <form method="post" class="form-stack">
      {% include "_incidencia_form_fields.html" %}
      <div class="form-actions">
        <button class="button" type="submit">Guardar cambios</button>
      </div>
    </form>
  </section>
{% endblock %}
